{% extends 'main/base.html' %}

{% block title %}
Djaga Django
{% endblock %}

{% block content %}
    <div class="container">
        <header>
            <h1>Компанія Djaga Django</h1>
        </header>
        <section>
            <h2>Хто ми?</h2>
            <p>Ми - команда ентузіастів, яка захоплюється технологіями та прагне забезпечити вас найкращими продуктами на ринку. Наш магазин пропонує широкий асортимент товарів, включаючи комп'ютери, ноутбуки, периферійні пристрої, аксесуари та багато іншого.</p>
        </section>
        <section>
            <h2>Місія </h2>
            <p>Наша місія - забезпечити кожного клієнта якісними та надійними комп'ютерними товарами. Ми прагнемо надати вам найкращий сервіс та консультації, щоб допомогти обрати оптимальні рішення для ваших потреб. Ми цінуємо кожного клієнта та надаємо індивідуальний підхід до кожного замовлення.</p>
        </section>
        <section>
            <h2>Наші цінності</h2>
            <p>Ми віримо у прозорість, чесність та якість. Наші цінності відображаються в кожному аспекті нашої роботи - від підбору товарів до обслуговування клієнтів. Ми завжди готові допомогти вам та відповісти на всі ваші питання.</p>
        </section>
    </div>
{% endblock %}
